*
{
	margin:0;
	padding:0;
}
/*NavBar*/
#nav-bar{
	position:sticky;
	top:0;
	z-index:10;
}
.navbar-brand img{
	height:40px;
	padding-left:30px;
}
.navbar-nav li{
    padding:0 10px;
}
.navbar-nav li a{
    float:right;
	text-align:left;
}
#nav-bar ul li a:hover{
	color:hsl(0, 100%, 25%)!important;
}
.navbar{
	background:#DCDCDC;
}
.navbar-toggler{
	border:none!important;
}
.nav-link{
	color:#555!important;
	font-weight:600;
	font-size:16px;
}
/*SLIDER*/
#slider{
	width:100%;
}	
.carousel-caption h5{
	color:#FFF0F5;
	font-size:25px;
}
/*About*/
#about{
	padding-top:50px;
	padding-bottom:50px;
	color:#555;
	background:	#DCDCDC;
}
#sidebar{
	float:right;
	width:80%;
	background-color:hsl(0, 0%, 47%);
	color:white;
	margin-top:50px;
	margin-bottom:50px;
	margin-right:5px;
	padding:30px;
	box-sizing: border-box;
}
#sidebar p{
	font-size:18px;
	color:white;
}
.download-btn{
	background-color:hsl(0, 100%, 25%); 
    color:white;                   
	padding:10px 15px;
	border:none;
}
.about-content{
	padding-top:20px;
    font-size:20px;	
}
#about h2:hover{
	color:hsl(0, 100%, 25%);
}
/*SKILLS*/
#skills{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/Skills.jpeg);
	background-size:cover;
	background-position:center;
	color:#efefef!important;
	background-attachment:fixed;
	padding-top:50px;
	padding-bottom:50px;
}
#skills h1{
	text-align:center;
	color:#efefef!important;
	padding-bottom:10px;
}
#skills h1::after{
	content:'';
	background:#efefef;
	display:block;
	height:3px;
	width:170px;
	margin:20px auto 5px;
}
.skills{
	margin-top:4px;
}

.icon{
	font-size:40px;
	margin:20px auto;
	padding:20px;
	height:85px;
	width:85px;
	border:1px solid #fff;
	border-radius:50%;
}
#skills p{
	font-size:16px;
	margin-top:20px;
	color:#ccc;
}
.skills .col-md-3:hover{
	background:hsl(0, 100%, 25%);
	cursor:pointer;
	transition:0.5s;
}
/*Contact*/
#contact{
	padding-top:50px;
	padding-bottom:50px;
	background:#DCDCDC;
}
.button{
	background-color:#555; 
    color:white;                   
	padding:10px 15px;
	border:none;
}
.contact-form{
	margin:10 auto;
	margin-right:250px;
	margin-left:250px;
	padding:15px;
}
.form-control{
	border-radius:0!important;
	border:none!important;
}
::placeholder{
	color:#999!important;
}
h1{
	text-align:center;
	color:#555!important;
	padding-bottom:10px;
}
h1::after{
	content:'';
	background:hsl(0, 100%, 25%);
	display:block;
	height:3px;
	width:170px;
	margin:20px auto 5px;
}
.button:hover{
	background:hsl(0, 100%, 25%);
	color:white;
}
/*Footer*/
#footer{
	background-color:hsl(0, 100%, 25%);
	color:#fff;
	padding:12px;
	text-align:center;
}
#footer p{
	margin-top:15px;
	margin-bottom:15px;
}
.fa-globe{
	margin:3px;
	color:yellow;
	text-align:center;
}